[mysqld]
default-storage-engine = MyISAM
innodb = OFF
skip-innodb
skip-external-locking
key_buffer		= 12M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover         = BACKUP
myisam_sort_buffer_size = 8M
query_cache_limit	= 256K
query_cache_size        = 4M

expire_logs_days	= 10
max_binlog_size         = 100M

